{% extends 'base.html' %}
{% load static %}
{%block title%} Sign Up {%endblock%}
{% block css %}
    <link rel="stylesheet" href="{% static 'registration.css' %}">
{% endblock %}
{% block content %}
    <div class="container" id="regdiv">
        <h2><strong>Sign up</strong></h2>
    <form method="post">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% if form.non_field_errors%}<div class="alert alert-danger"> {{form.non_field_errors}}</div>{% endif %}
        {% for field in form %}
            <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
            {{ field.errors }}
                <strong>{{ field.label_tag }}</strong>
            {% render_field field class='form-control' %}
              {% if field.help_text %}<small class="text-muted"> {{field.help_text}}</small>{% endif %}
            </div>
            {% endfor %}
        <input  onclick="myFunction()" style="margin-bottom:3%; " type="checkbox" ><span style="margin-left:4px;">See password</span>
    <a style="display: block;"></a>
        <button type="submit" class="btn btn-primary" id="regbtn">Sign Up</button>
    </form>
    </div>
            <script>
    function myFunction() {
  var x = document.getElementById("id_password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
{% endblock %}
