{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add a Secret
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'add_secret.css' %}">
{% endblock %}
{% block content %}
    <div class="secretadd">
    <form action="{% url 'add_secret' %}" method="post">
        {% csrf_token %}
        <h1 style="margin-bottom: 4.3%;">Add a Secret</h1>
    <div class="form-group">
        <h5>{{ form.website.label }}</h5>
        {{ form.website }}
    </div>
        <div class="form-group">
            <h5>{{ form.password.label }}</h5>
            {{ form.password }}<i style="margin-left:-20px; cursor: pointer;" onclick="myFunction()" class="fa-solid fa-eye"></i>

        </div>
        <button type="submit" class="btn btn-lg btn-primary">Add</button>
    </form>
    </div>
    <script>
    function myFunction() {
  var x = document.getElementById("id_password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
{% endblock %}
