{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ user|title }} Secrets
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'my_secrets.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-center">{{ user.username|title }} Secrets</h1>
         <div class="album py-5 ">
        <div class="container">

          <div class="row">
              {% for secret in secrets %}
                  {% if secret.user == request.user %}
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ secret.website }}</h5>
    <p class="card-text">{{ secret.password }}</p>

  </div>
        <a  id="cardbtn" href="{% url 'confirm_delete' secret.id %}" class="btn btn-sm btn-danger">Delete</a>
        <a  id="cardbtn2" href="{% url 'update_secret' secret.id%}" class="btn btn-sm btn-primary">Edit</a>
</div>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
         </div>
{% endblock %}