{% extends 'base.html' %}
{% load static %}
{% block title%}
Reset Password
{% endblock %}
{% block css %}
<link rel='stylesheet' href="{% static 'reset.css'%}">
{% endblock %}
{% block content%}
<section id='reset'>
    <h3><strong>Forgot password.</strong></h3>
    <p>Enter you email below and we will send you a link to reset your password.</p>
    <form method='post'>
        {% csrf_token %}
        <h5>Enter you Email</h5>
        {{form.email}}
        {{form.email.errors}}
        <br>
        <button class='btn btn-primary'>Submit</button>
    </form>
</section>
{% endblock %}