{% extends 'base.html' %}
{% load static %}
{% block title%}
Edit Secret 
{% endblock %}
{% block css%}
<link rel='stylesheet' href="{% static 'update_secret.css'%}">
{% endblock %}
{% block content %}
<div class="update">
    <h2>Edit Secret</h2>
    <form method="post">
      {% csrf_token %}
      {% load widget_tweaks %}
      {% for field in form %}
      <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
        {{ field.errors }}
        <h5>{{ field.label }}</h5>
        {% render_field field %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    
    </div>
<script>
    document.getElementById('id_password').rows = '1';
</script>
    {% endblock %}