@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.secretadd{
    background: whitesmoke;
    margin-top:8%;
    width:60%;
    margin-right:auto;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom:6%;
    padding:5%;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}
.form-group{
    margin-bottom:3%;
}
#id_website,#id_password{
    width:90%;
    border:none;
    outline:none;
    border-bottom: 3px solid cornflowerblue;
    margin-top:2%;
    background: whitesmoke;
}






@media only screen and (min-width:150px) and (max-width: 768px){
    .secretadd{
        margin-top:25%;
        width:90%;
        margin-bottom:20%;

    }
    .form-group{
        margin-bottom: 10%;
    }
    #id_password,#id_website{
        margin-top:5%;
    }

}