@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
.update{
    margin-top: 10%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding:3%;
    margin-bottom:8%;
    font-family: 'Mulish', sans-serif;
}
.form-group{
    margin-bottom:2%;
    margin-top: 2%;;
}
#id_password, #id_website{
    outline: none !important;
    border: none;
    border-bottom: 3px solid #3b71ca;
    width: 60%;;
}
#id_password:focus,#id_website:focus{
    outline: none !important;
}
.update .btn{
    width: 60%;
    font-weight: 800;
    letter-spacing:1.5px;
}


@media only screen and (min-width:150px) and (max-width:768px){
    .update{
        width:95%;
        padding:8%;
        margin-top:20%;
        margin-bottom:20%;
    }
    #id_password,#id_website{
        width:100%;
    }
    .form-group{
        margin-bottom:8%;
        
    }
    .update h2{
        margin-bottom:4%;
    }
}